@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
/*************
  Variables
**************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FCF8FF;
}

a {
  text-decoration: none;
}

/*
  Hero
**************************/
.hero {
  height: 100vh;
  font-size: 16px;
}

.hero__item {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -5em;
}

.carousel-inner .hero__item:nth-child(1) {
  background-image: url("../img/Hero1.webp");
}

.carousel-inner .hero__item:nth-child(2) {
  background-image: url("../img/Hero2.webp");
  background-position-y: 0;
}

.carousel-inner .hero__item:nth-child(3) {
  background-image: url("../img/Hero3.webp");
}

.hero__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero__text-container {
  font-family: "Montserrat", arial;
  font-size: 2.1em;
  color: white;
  text-align: center;
  max-width: 60%;
}

.hero__text-container__text {
  margin-bottom: 1em;
}

.hero__button {
  background-color: #048A81;
  font-size: 0.45em;
  border: none;
  padding: 0.7em 1.1em;
  color: white;
  transition: background-color ease 0.5s, color ease 0.5s;
}

.hero__button:hover {
  text-decoration: none;
  color: #cfd6d8;
  background-color: #025b55;
  cursor: pointer;
}

/*
  Navbar
**************************/
.nav, .nav-background--normal, .nav-background--transparent, .nav--fixed, .nav--normal {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.nav--normal {
  padding-top: 0;
  padding-bottom: 0;
}

.nav--fixed {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}

.nav-background--transparent {
  background-color: rgba(165, 86, 86, 0);
}

.nav-background--normal {
  background-color: #826342;
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav ul, .nav--normal ul, .nav--fixed ul, .nav-background--transparent ul, .nav-background--normal ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0px;
}

.nav__option, .nav__option--logo, .nav__option--last {
  font-family: "Montserrat", arial;
  font-weight: 500;
  font-size: 1em;
  color: #ffffff;
  margin: 0 1.5em;
}

.nav__option a, .nav__option--logo a, .nav__option--last a {
  text-decoration: none;
  color: white;
  transition: color ease 0.4s;
}

.nav__option--last {
  margin-right: 4em;
}

.nav__option--logo {
  margin-left: 1.5em;
  font-family: "Rochester", arial;
  font-size: 2.25em;
  margin-right: auto;
}

.nav__option:hover a, .nav__option--last:hover a, .nav__option--logo:hover a {
  color: #048A81;
}

.nav__option--logo:hover a {
  color: white;
}

/*
  Nav mobile
**************************/
.nav-mobile {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  font-size: 16px;
  background-color: #048A81;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
}

.nav-mobile ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
}

.nav-mobile ul li {
  width: 33%;
  text-align: center;
}

.nav-mobile ul li a {
  text-decoration: none;
  color: white;
}

.nav-mobile__option {
  display: block;
  width: 100%;
  text-decoration: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
  transition: background-color ease 0.4s, color ease 0.4s;
}

.nav-mobile__icon {
  width: 1.43em;
}

.nav-mobile__option:hover {
  color: #cfd6d8;
  background-color: #025b55;
}

/*
  Section Header
**************************/
.section-header, .section-header--servicios {
  width: 100%;
  font-size: 18px;
  font-family: "Montserrat", arial;
  padding: 6em 6.6em;
  text-align: center;
}

.section-header--servicios {
  padding-top: 2em;
  padding-bottom: 1em;
}

.section-header__title {
  font-size: 2.6em;
}

.section-header__line {
  width: 20%;
  border-top: 0.17em solid #826342;
  margin: 0 auto;
  margin-top: 0.9em;
  margin-bottom: 1.8em;
}

.section-header__text, .section-header__text--contact-info {
  display: flex;
  justify-content: space-between;
}

.section-header__text--contact-info {
  padding-top: 3.65em;
}

.section-header__text > p, .section-header__text--contact-info > p {
  text-align: center;
  margin: 0 auto;
}

.section-header__text__column, .section-header__text__column--center-text {
  text-align: left;
  width: 33%;
}

.section-header__text__column--center-text {
  text-align: center;
}

.section-header__text .section-header__text__column:nth-child(1), .section-header__text--contact-info .section-header__text__column:nth-child(1), .section-header__text .section-header__text__column--center-text:nth-child(1), .section-header__text--contact-info .section-header__text__column--center-text:nth-child(1) {
  padding-right: 1em;
}

.section-header__text .section-header__text__column:nth-child(2), .section-header__text--contact-info .section-header__text__column:nth-child(2), .section-header__text .section-header__text__column--center-text:nth-child(2), .section-header__text--contact-info .section-header__text__column--center-text:nth-child(2) {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.section-header__text .section-header__text__column:nth-child(3), .section-header__text--contact-info .section-header__text__column:nth-child(3), .section-header__text .section-header__text__column--center-text:nth-child(3), .section-header__text--contact-info .section-header__text__column--center-text:nth-child(3) {
  padding-left: 1em;
}

.contant-info-icon {
  fill: #826342;
  margin-bottom: 1em;
  width: 4.2em;
}

.contact-info-icon--phone {
  fill: #826342;
  width: 2em;
}

/*
  Facility carousel
**************************/
.facility-carousel-container {
  width: 100%;
  font-size: 18px;
  padding-left: 6.6em;
  padding-right: 6.6em;
}

/*
  Section Cards
**************************/
.section-card, .section-card--secondary, .section-card--primary {
  display: flex;
  width: 100%;
  height: 100vh;
  font-size: 18px;
  color: white;
}

.section-card--primary {
  background-color: #826342;
}

.section-card--secondary {
  background-color: #048A81;
}

.section-card__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.section-card__image-container, .section-card__image-container--secondary {
  width: 50%;
  background-color: white;
}

.section-card__image-container--secondary {
  order: -1;
}

.section-card__text-container__text {
  max-width: 70%;
}

.section-card__text-container__text__title {
  font-family: "Rochester", arial;
  font-size: 2.8em;
}

.section-card__text-container__text__line {
  border-top: solid 0.17em white;
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 32%;
}

.section-card__text-container__text a {
  text-decoration: none;
}

.section-card__text-container__text__button, .section-card__text-container__text__button--secondary, .section-card__text-container__text__button--primary {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  font-size: 0.9em;
  border: 0.17em solid white;
  padding: 0.3em 1.2em;
  margin-top: 1.2em;
  color: white;
  transition: all ease 0.4s;
}

.section-card__text-container__text__button--primary:hover {
  background-color: white;
  color: #826342;
}

.section-card__text-container__text__button--secondary:hover {
  background-color: white;
  color: #048A81;
}

.section-card__image-container, .section-card__image-container--secondary {
  overflow: hidden;
  height: auto;
}

.section-card__image-container img, .section-card__image-container--secondary img {
  height: 100%;
  object-fit: cover;
}

.show-on-mobile {
  display: none;
}

/*
  Footer
**************************/
.footer {
  width: 100%;
  font-family: "Montserrat", arial;
  font-size: 18px;
  background-color: #826342;
  color: white;
  padding: 2.5em 2em;
  padding-bottom: 1.5em;
}

.footer__top {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
}

.footer__top__row, .footer__top__row--center {
  width: 33%;
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
}

.footer__top__row--center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__logo {
  margin: 0 auto;
  font-family: "Rochester", arial;
  font-size: 3em;
}

.footer__top__row__title {
  font-size: 1.1em;
}

.footer__top__row__line {
  border-top: solid 0.16em white;
  margin: 0.7em 0;
  margin-bottom: 0.8em;
}

.footer_top__row__content {
  font-size: 0.77em;
}

.footer__top__row__list {
  list-style: none;
}

.footer__top__row__list li {
  display: flex;
  align-items: center;
  margin-bottom: 0.7em;
}

.footer__icon {
  width: 1.82em;
  margin-right: 0.7em;
  fill: white;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.8em;
}

/*
  Map
**************************/
.map {
  width: 100%;
  height: 90vh;
  z-index: 99;
}

/*
  Services cards
**************************/
.card__container {
  font-size: 18px;
  margin-bottom: 3em;
}

.card {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background: white;
  font-family: "Montserrat", arial;
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  transition: all ease 0.3s;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-1em);
}

.card__img {
  width: 100%;
  clip-path: circle(80% at 50% 16%);
}

.card__body {
  padding: 1.4em;
  padding-top: 0.7em;
  color: #5c5757;
  text-align: left;
}

.card__title {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0.7em;
}

.card__icons-container {
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
}

.card__icons-container__row, .card__icons-container__row--right {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 2;
}

.card__icons-container__row--right {
  justify-content: flex-end;
}

.card__icon {
  fill: black;
  width: 1.5em;
  margin-right: 0.2em;
}

.agendar-cita-btn {
  display: block;
  width: fit-content;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  padding: 0.6em 1.4em;
  color: white;
  background-color: #048A81;
  transition: all ease 0.4s;
  margin-bottom: 2.1em;
}

.agendar-cita-btn:hover {
  text-decoration: none;
  color: #cfd6d8;
  background-color: #025b55;
  cursor: pointer;
}

/********************************************************
  Responsive
**********************************************************/
/**
  Tablet
***************/
@media screen and (max-width: 845px) {
  /*
    Nav
  */
  .nav, .nav--normal, .nav--fixed, .nav-background--transparent, .nav-background--normal {
    font-size: 14px;
  }

  .nav__option--logo {
    margin-left: 1.5em;
  }

  .nav__option--last {
    margin-right: 1.5em;
  }

  /*
    Hero
  */
  .hero__item {
    background-position-y: 0;
  }

  /*
    Section Header
  */
  .section-header, .section-header--servicios {
    padding-left: 2.8em;
    padding-right: 2.8em;
  }

  .section-header__line {
    width: 30%;
  }

  .section-header__text, .section-header__text--contact-info {
    justify-content: center;
    flex-wrap: wrap;
  }

  .section-header__text__column, .section-header__text__column--center-text {
    width: 50%;
    text-align: center;
  }

  .section-header__text__column:nth-child(3), .section-header__text__column--center-text:nth-child(3) {
    margin-top: 1.5em;
  }

  /*
  Facility carousel
  */
  .facility-carousel-container {
    padding-left: 2.8em;
    padding-right: 2.8em;
  }

  /*
    Section cards
  */
  .section-card, .section-card--primary, .section-card--secondary {
    height: 50vh;
    font-size: 16px;
  }

  .section-card__text-container__text__title {
    font-size: 2.4em;
  }

  .section-card__text-container__text {
    max-width: 80%;
  }

  /*
    Footer
  */
  .footer__top {
    flex-wrap: wrap;
  }

  .footer__top__row, .footer__top__row--center {
    width: 50%;
  }

  .footer__top__row--center {
    order: 4;
    padding-top: 2em;
    padding-bottom: 1.5em;
    width: 100%;
  }
}
/**
  Celular
***************/
@media screen and (max-width: 555px) {
  /*
    Nav
  */
  .nav, .nav--normal, .nav--fixed, .nav-background--transparent, .nav-background--normal {
    margin-top: 1em;
  }

  .nav-background--normal {
    margin-top: 0;
  }

  .nav--normal {
    margin-top: 0;
  }

  .nav__option, .nav__option--last, .nav__option--logo {
    display: none;
  }

  .nav__option--logo {
    display: block;
    margin: 0 auto;
  }

  .nav-mobile {
    display: block;
  }

  /*
    Hero
  */
  .hero {
    height: 92vh;
  }

  .hero__item {
    height: 92vh;
  }

  .hero__text-container {
    max-width: 75%;
    font-size: 1.5em;
  }

  .hero__button {
    font-size: 0.6em;
  }

  /*
    Section Header
  */
  .section-header, .section-header--servicios {
    padding-left: 1.7em;
    padding-right: 1.7em;
  }

  .section-header__title {
    font-size: 1.3em;
  }

  .section-header__line {
    width: 35%;
    margin-bottom: 1.2em;
  }

  .section-header__text, .section-header__text--contact-info {
    flex-direction: column;
    font-size: 0.8em;
    text-align: left;
  }

  .section-header__text > p, .section-header__text--contact-info > p {
    text-align: justify;
    margin: 0;
  }

  .section-header__text__column, .section-header__text__column--center-text {
    width: 100%;
    text-align: left;
  }

  .section-header__text .section-header__text__column:nth-child(2), .section-header__text--contact-info .section-header__text__column:nth-child(2), .section-header__text .section-header__text__column--center-text:nth-child(2), .section-header__text--contact-info .section-header__text__column--center-text:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
    margin-top: 1.5em;
  }

  .section-header__text .section-header__text__column:nth-child(3), .section-header__text--contact-info .section-header__text__column:nth-child(3), .section-header__text .section-header__text__column--center-text:nth-child(3), .section-header__text--contact-info .section-header__text__column--center-text:nth-child(3) {
    padding-left: 0;
  }

  /*
  Facility carousel
  */
  .facility-carousel-container {
    padding-left: 1.7em;
    padding-right: 1.7em;
  }

  /*
    Section cards
  */
  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: inline-block;
  }

  .section-card, .section-card--primary, .section-card--secondary {
    flex-direction: column;
    height: auto;
    font-size: 14px;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }

  .section-card__text-container {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    width: 100%;
  }

  .section-card__text-container__text__title {
    text-align: center;
  }

  .section-card__text-container__text__line {
    margin: 1.2em auto;
  }

  .section-card__image-container, .section-card__image-container--secondary {
    width: 100%;
  }

  .section-card__image-container img, .section-card__image-container--secondary img {
    width: 100%;
    height: auto;
  }

  .section-card__image-container--secondary {
    order: 2;
  }

  .section-card__text-container__text__button, .section-card__text-container__text__button--primary, .section-card__text-container__text__button--secondary {
    margin: 2.5em auto;
    padding: 0.5em 2em;
  }

  .section-card__text-container__text__button--secondary {
    order: 3;
  }

  /*
    Contact info
  */
  .section-header__text--contact-info {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .section-header__text__column--center-text {
    text-align: center;
    margin-bottom: 1.5em;
  }

  /*
    Footer
  */
  .footer {
    padding: 3em 0.5em;
    margin-bottom: 3.2em;
  }

  .footer__top__row, .footer__top__row--center {
    width: 100%;
  }

  .footer__top__row--center {
    order: -1;
    padding-top: 0.5em;
    padding-bottom: 2.5em;
  }

  .footer__top .footer__top__row:nth-child(2), .footer__top .footer__top__row--center:nth-child(2) {
    padding-bottom: 2.5em;
  }

  .footer__logo {
    font-size: 2.5em;
  }

  .footer__bottom {
    font-size: 0.6em;
    padding-top: 3em;
  }

  /*
    Map
  */
  .map {
    height: 80vh;
  }

  /*
    Services cards
  */
  .card {
    font-size: 16px;
  }

  .agendar-cita-btn {
    font-size: 18px;
  }
}
/**
  Full HD
***************/
@media screen and (min-width: 1920px) {
  .hero, .nav, .nav--normal, .nav--fixed, .nav-background--transparent, .nav-background--normal, .section-header, .section-header--servicios, .facility-carousel-container, .footer, .card__container {
    font-size: 24px;
  }

  .section-card, .section-card--primary, .section-card--secondary {
    font-size: 26px;
  }

  .map {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    margin-bottom: 10em;
  }

  .map h6 {
    font-size: 24px;
  }

  .card {
    font-size: 24px;
    width: 85%;
  }

  .agendar-cita-btn {
    font-size: 26px;
  }
}
/**
  4K
***************/
@media screen and (min-width: 3840px) {
  .hero, .nav, .nav--normal, .nav--fixed, .nav-background--transparent, .nav-background--normal, .section-header, .section-header--servicios, .facility-carousel-container, .footer, .card, .card__container {
    /*font-size: 48px;*/
    font-size: 50px;
  }

  .section-card, .section-card--primary, .section-card--secondary {
    /*font-size: 52px;*/
    font-size: 56px;
  }

  .map {
    margin-bottom: 25em;
  }

  .map h6 {
    /*font-size: 44px;*/
    font-size: 52px;
  }

  .agendar-cita-btn {
    /*font-size: 52px;*/
    font-size: 54px;
  }
}
/**
  5K
***************/
@media screen and (min-width: 5120px) {
  .hero, .nav, .nav--normal, .nav--fixed, .nav-background--transparent, .nav-background--normal, .section-header, .section-header--servicios, .facility-carousel-container, .footer, .card, .card__container {
    /*font-size: 48px;*/
    font-size: 66px;
  }

  .section-card, .section-card--primary, .section-card--secondary {
    /*font-size: 52px;*/
    font-size: 70px;
  }

  .map h6 {
    /*font-size: 44px;*/
    font-size: 52px;
  }

  .agendar-cita-btn {
    /*font-size: 52px;*/
    font-size: 70px;
  }
}

/*# sourceMappingURL=main.css.map */
