@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
/*************
  Variables
**************/
$nav-background-color: #826342;
$nav-links-color: #ffffff;
$logo-font: 'Rochester', arial;
$general-text-font: 'Montserrat', arial;

* {
  margin: 0;
  padding: 0;
}

/*
  Hero
**************************/
.hero {
  height: 100vh;
  font-size: 16px;
  /*background-image: url('../img/Hero1.jpg');*/
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/Hero1.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -5em;
}

/*
  Navbar
**************************/
.nav {
  background-color: $nav-background-color;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav--transparent {
  @extend .nav;
  background-color: rgba(0, 0, 0, 0);
}

.nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: flex-end; 
  margin: 0px;
}

.nav__option {
  font-family: 'Montserrat', arial;
  font-weight: 500;
  font-size: 1em;
  color: $nav-links-color;
  margin: 0 1.5em;
}

.nav__option--last {
  @extend .nav__option;
  margin-right: 4em;
}

.nav__option--logo {
  @extend .nav__option;
  margin-left: 4rem;
  font-family: $logo-font;
  font-size: 2.25em;
  margin-right: auto;
}

